/* Coolors Exported Palette - coolors.co/cc2b5e-ff6978-fffcf9-b1ede8-753a88 */

/* HSL */
$color1: hsla(341%, 65%, 48%, 1);
$color2: hsla(354%, 100%, 71%, 1);
$color3: hsla(30%, 100%, 99%, 1);
$color4: hsla(175%, 63%, 81%, 1);
$color5: hsla(285%, 40%, 38%, 1);

/* RGB */
$color1: rgba(204, 43, 94, 1);
$color2: rgba(255, 105, 120, 1); 
$color3: rgba(255, 166, 158, 1);  
$color4: rgba(255, 252, 249, 1); 
$color5: rgba(177, 237, 232, 1); 
$color6: rgba(117, 58, 136, 1); 

/* HEX */
$color-1: #cc2b5e;
$color-2: #ff6978;
$color-3: #ffa69e;
$color-4: #fffcf9;
$color-5: #b1ede8;
$color-6: #753a88;